$white: #fff;
$transparent: rgba(255, 255, 255, 0);
$text-background: rgba(0, 0, 0, 0.5);
$underline: rgb(193, 61, 61);

$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;


@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}