@import "./resets";
@import "./variables";
@import "./navbarFooter";


body {
    height: 100vh;
}

#getInTouch .container-fluid {
    margin-top: 25%;
    width: 100%;
    

    .row {
        @include flexCenter(column);
    

    #form-col {
        height: 90vh;
        width: 90%;
        max-width: 800px;
        max-height: 900px;
        @include flexCenter(column);
        background-image: url("/generic-images/form3.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-color: rgba(198, 31, 167, 0.7);
        background-blend-mode: saturation;
        border-radius: 1rem;
        box-shadow: 5px 6px 7px rgba(46, 44, 45, 0.7);
    }

    #touch-h {
        color: $white;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        padding-top: 2rem;
        text-shadow: 2px 2px 2px #222;
    }

    form {
       height: 100%;
       max-width: 300px;
       @include flexCenter(column);

      input {
           width: 85vw;
           max-width: 750px;
           margin-bottom: 1rem;
           height: 2.5rem;
           border-radius: 25rem;
           padding-left: 1rem;
           background-color: rgba(255, 255, 255, 0);
           border-left: none;
           border-top: none;
           border-right: none;
           border-bottom: 3px solid #fff;
           color: $white;
           font-size: 0.8rem;
       }

       input:focus {
        border-top: 5px solid $white;
        border-bottom: 5px solid $white;
        outline: none;
      }

    }

    textarea {
        width: 85vw;
        max-width: 750px;
        height: 100%;
        border-radius: 25px;
        padding-top: 0.5rem;
        padding-left: 1rem;
        background-color: rgba(255, 255, 255, 0);
        border-left: none;
        border-top: 3px solid #fff;
        border-right: none;
        border-bottom: 3px solid #fff;
        color: $white;
        font-size: 0.8rem;
    }

    textarea:focus {
        outline: none;
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff;
    }

    
   ::placeholder { 
    color: $white;
    opacity: 1; 
  }

  #send {
      margin-bottom: 2rem;
      margin-top: 1.5rem;
      width: 50%;
      color: $white;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 1rem;
      border: 3px solid rgb(255, 208, 0);
      transition: 0.3s;
  }

  #send:hover {
      background-color: rgba(255, 255, 255, 0);
      transform: scaleX(1.1);
      
  }
}
}


#info-col {
    width: 100%;
    height: 100%;
    @include flexCenter(column);
    margin-top: 2rem;

    .info {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
        background-color: rgba(223, 197, 223, 0.537);
        padding: 0.5rem;
        border-radius: 10px;

        i {
            font-size: 1rem;
            color: rgb(106, 47, 106);
        }

        p {
            font-size: 1rem;
        }
    }
}


footer {
    margin-top: 2rem;
    margin-bottom: 0!important;
    position: sticky;
}


@media only screen and (min-width: 400px) {
    #form-col {
        width: 80%!important;
    }

    input {
           width: 75vw!important;
       }
    }

    textarea {
        width: 75vw!important;
    }

#info-col {
    width: 80%;
    }



@media only screen and (min-width: $small) {
    #getInTouch .container-fluid {
        margin-top: 15%;
        width: 100%;
    }

        #touch-h {
            font-size: 1.8rem!important;
            margin-bottom: 1.5rem!important;
        }
    
        input {
               width: 65vw!important;
               font-size: 1rem!important;
            }
        
    
        textarea {
            width: 65vw!important;
            font-size: 1rem!important;
        }

    
        .info {
            width: 80%;
        }
}

@media only screen and (min-width: $medium) {
    
        .row {
            display: flex;
            flex-direction: row!important;

        #form-col {
            width: 45vw!important;
            
            #touch-h {
               font-size: 1.5rem;
               margin-bottom: 1rem;
            }
    
            input {
               width: 40vw!important;
            }
        
    
        textarea {
            width: 40vw!important;
        }
    
    }
}
    
    
    #info-col {
        width: 45vw!important;
        }
}


@media only screen and (min-width: $large) {

    #form-col {
        width: 35vw!important;
        margin-right: 3vw;
        
        #touch-h {
           font-size: 2.2rem!important;
           margin-bottom: 1.5rem;
        }

        #send {
            font-size: 1.5rem!important;
        }
}

#info-col {
    width: 35vw!important;
    margin-left: 3vw;
    }

    .info {
       
        margin-bottom: 1.2rem;
        

        i, p {
            font-size: 1.2rem!important;
            padding: 0.2rem;
        }
    }
}

@media only screen and (min-width: $xlarge) {
    #getInTouch .container-fluid {
        margin-top: 8%;

        #touch-h {
            font-size: 2.5rem!important;
            
            margin-bottom: 1.5rem;
         }

         input, textarea {
             width: 30vw!important;
             max-width: 700px!important;
         }
 
         #send {
             font-size: 1.5rem!important;
         }
 }
 
 #info-col {
     width: 35vw!important;
     margin-left: 3vw;
     }
 
     .info {
        
         margin-bottom: 1.2rem;
         
 
         i, p {
             font-size: 1.2rem!important;
             padding: 0.2rem;
         }
     }
}
   
    

