@import "./resets";
@import "./variables";
@import "./navbarFooter";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Sriracha&display=swap');

/*CAROUSEL*/
body {
    overflow-x: hidden;
}

#carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;


    img {
        height: 100vh;
        object-fit: cover;
    }

    .carousel-control-prev, .carousel-control-next {
        z-index: 7;
    }
}



.overlay {
    z-index: 2;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    @include flexCenter(column);

    .text {
       /* background-color: $text-background;*/
       background: linear-gradient(
           to right bottom,
           rgba(32, 32, 31, 0.6),
           rgba(123, 118, 123, 0.7),
           rgba(28, 27, 29, 0.7),
             rgba(20, 20, 20, 0.6)
       );
        padding: 2rem;
        max-width: 80%;
        @include flexCenter(column);
        border-radius: 20px;
        box-shadow: 5px 3px 2px;

        h1 {
            color: $white;
            font-size: 2rem;
            text-align: center;
            margin-bottom: 1rem; 
            text-shadow: 3px 3px #332c31;
        }

        p {
            color: $white;
            font-size: 1rem;
            text-align: center;
            margin-bottom: 1.5rem;
            text-shadow: 2px 2px #2c2929;
        }

        #explore {
            width: 6rem;
            max-width: 100%;
            border-width: 3px;
            border-radius: 10px;
            font-size: 1rem;
            text-transform: uppercase;
            text-shadow: 2px 2px #2c2929;
            transition: 0.4s;
            box-shadow: 1px 1px 1px rgb(159, 153, 153);
        }

        #explore:hover {
            color: $white;
            text-shadow: 2px 2px #2c2929;
            transform: scaleX(1.2);
        }
    }
}

/*MOST POPULAR*/
#most-popular {
    position: relative;
    top: 100vh;

    h2 {
        text-align: center;
        margin: 1rem auto;
        font-weight: 400;
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-size: 2rem;
    }

    .card {
        overflow: hidden;
        transition: 0.5s;
        cursor: pointer;
       

        img {
            overflow: hidden;
        }

        .card-body {
            position: absolute;
            @include flexCenter(column);
            width: 100%;
            height: 100%;

    
            .card-text {
                color: $white;
                background-color: $text-background;
                padding: 0.8rem;
                font-size: 1.1rem;
                text-align: center;
                border-radius: 10px;
            }

            .price {
                    color: $white;
                    background-color: $text-background;
                    padding: 0.8rem;
                    border-radius: 10px;
            }    
        }
    
    }

    .card:hover {
        transform: scale(1.05);
        z-index: 10000;
    }
}

/*TESTIMONIALS*/
#testimonials {
    position: relative;
    top: 100vh;
    @include flexCenter(column);
    overflow: hidden;
    margin: auto;
    width: 100%;
    padding-top: 2rem;

    h2 {
        text-align: center;
        margin: 1rem auto;
        z-index: 6;
        font-size: 2rem;
        font-weight: 400;
    }

    #carouselTestimonials {
        width: 100%;
        height: 100%;
        padding: 3rem 0.5rem;

        .control-icon {
            width: 20px;
            height: 20px;
            z-index: 8;
         }

         .carousel-item {
            text-align: center;
            z-index: 6;
    
            img {
                border-radius: 50%;
                width: 100px;
                height: 100px;
                margin-bottom: 1rem;
            }

            .message {
                font-weight: 600;
                font-size: 1.1rem;
                line-height: 20px;
            }

            .name {
                color: $text-background;
                font-weight: 600;
            } 
         }

         #test-control-prev,  #test-control-next {
            background-color: rgba(13, 25, 154, 0.2);
            width: 30px;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 9;
         }
    }
}



/*NEWSLETTER*/
#newsletter {
    position: relative;
    top: 100vh;
    @include flexCenter(column);
    padding: 3rem;
    height: 60vh;
    max-height: 500px;
    background-image: url("/generic-images/plane.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    h2 {
        color: $white;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        z-index: 7;
    }

    h3 {
        color: $white;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 300;
        z-index: 7;
    }

    #email {
        width: 80vw;
        max-width: 1000px;
        height: 2.5rem;
        border-radius: 10px;
        border: none;
        padding-left: 1rem;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        z-index: 7;
    }

    #sub-btn {
        z-index: 7;
        border-width: 3px;
        font-weight: 600;
        transition: 0.4s;
    }

    #sub-btn:hover {
        color: $white;
        transform: scaleX(1.2)
    }

    .overlay-newsletter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60vh;
        max-height: 500px;
        background-color: rgba(13, 25, 154, 0.5);
        background-attachment: fixed;
    }
}




@media only screen and (min-width: $large) {
    .carousel-control-prev, .carousel-control-next {
        width: 45px;
    }

      #welcome-h {
        font-size: 2.8rem;
        margin-bottom: 1.2rem; 
    }

    #welcome-p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    #explore {
        width: 8rem!important;
        font-size: 1.5rem!important;
    }

    
}